.transactionHistory {
  width: 870px;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  & > thead > tr > th {
    color: #fff;
    background-color: #00bcd4;
    font-size: 13px;
    text-transform: uppercase;
    height: 50px;
    width: calc(100% / 3);
  }
  & tbody > tr {
    font-size: 12px;
    color: #5c6975;
    text-transform: uppercase;
    height: 50px;
    font-weight: 600;

    width: calc(100% / 3);
    &:nth-child(even) {
      background-color: #ecf2f3;
    }
  }
}
